<h2>Login Page</h2>

{{#if user.loggedIn}}
  you are loggedin
{{else}}
  <p class='error'>{{errorEmail}}</p>
  <label for="email">Email</label>
  <input type='text' name='email' id='email' bind:value='email'><br>

  <p class='error'>{{errorPassword}}</p>
  <label for='password'>Password</label>
  <input type='password' name='password' id='password' bind:value='password'><br>

  <button on:click='login(email, password)'>Login</button>
{{/if}}

<script>
  import api from '../services/api';

  export default {
    onrender () {

    },
    data () {
      return {
        email: '',
        password: '',
        errorEmail: '',
        errorPassword: ''
      }
    },
     methods: {
      login (email, password) {
        if(valid(this, email, password)) {
          var user = api.login();
          this.set({ user: {loggedIn: true, token: 'aoueaoe'} });
          localStorage.setItem('user', user.token);
          //redirect to home
          window.location.pathname = '';
          return;
        }

        console.log('not valid');
      }
    }
  }

  function valid(that, email, password) {
    that.set({ error: false });
    that.set({ errorEmail: '' });
    that.set({ errorPassword: '' });

    if(email === '') {
      that.set({ error: true });
      that.set({ errorEmail: "Email can not be empty" });
    }

    if(password === '') {
      that.set({ error: true });
      that.set({ errorPassword: "Password can not be empty" });
    }

    if(that.get('error')) {
      return false;
    }

    return true;
  }
</script>

<style>
  .error {
    color: red;
    font-size: 1em;
  }
</style>
