<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My first Svelte app</title>
    <link rel="manifest" href="./manifest.json">
  </head>

  <body>
    <main></main>
    <script src='<%= process.env.APP_BASE_PATH %>/bundle.js'></script>

    <noscript>
      <title>My first Svelte app - please enableb JavaScript</title>
    </noscript>
  </body>
</html>

<style>
  body {
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
  }
</style>
