<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ff6600" />
    <title>Admin</title>
    <link rel="manifest" href="./manifest.json">
  </head>

  <body>
    <noscript>
      <h2>Please enable JavaScript</h2>
    </noscript>
    <main></main>
    <script src='<%= process.env.APP_BASE_PATH %>/bundle.js'></script>

  </body>
</html>

<style>
  body {
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
  }
</style>
